@{
    ViewData["Title"] = "Home Page";
}
@*src=""*@
<script type="text/javascript" asp-append-version="true">
    var paychex = paychex || {};
    $(()=>
    {
        var GetAuthenticationFieldsValue = () => {
            var postValue = [];
            postValue.push(

                {
                    "Key": "Username",
                    "Value": $("#txtUsername").val()
                });
            postValue.push(
                {
                    "Key": "Password",
                    "Value": $("#txtPassword").val()
                });
            return postValue;
        }

        $("#btnLogin").on("click", () => {
            paychex.ajaxCall("Home/AuthenticatePaychex", GetAuthenticationFieldsValue())
                .then((response) => {
                    if(response)
                        window.location = window.location + "TimeClock";
                });
        })
    });
</script>


<div class="text-center">
    <h1 class="display-4">Paychex Simple Time Clock</h1>
    <hr/>
    <p><input id="txtUsername" placeholder="Enter Username" /></p>
    <p><input id="txtPassword" placeholder="Enter Password" type="password" /></p>
    <p><button id="btnLogin">Login</button></p>
</div>
